@model msUsersPelapor

<form asp-controller="Home" asp-action="register" id="form-regis">

    <div class="input-group no-border">
        <input type="text" class="form-control" placeholder="Nama Depan" asp-for="namaDepan">
        <span asp-validation-for="namaDepan" style="color: red;" class="p-2"></span>
    </div>
    <div class="input-group no-border">
        <input type="text" class="form-control" placeholder="Nama Belakang" asp-for="namaBelakang">
        <span class="p-2"></span>
    </div>
    <div class="input-group no-border">
        <textarea class="form-control" placeholder="Alamat" asp-for="address"></textarea>
        <span asp-validation-for="address" style="color: red;" class="p-2"></span>
    </div>
    <div class="input-group no-border">
        <input type="text" class="form-control" placeholder="No Telepon" asp-for="phone">
        <span asp-validation-for="phone" style="color: red;" class="p-2"></span>
    </div>
    <div class="input-group no-border">
        <input type="text" class="form-control" placeholder="Email" asp-for="email">
        <span asp-validation-for="email" style="color: red;" class="p-2"></span>
    </div>
    <div class="input-group no-border">
        <input type="password" class="form-control" placeholder="Password" asp-for="password">
        <span asp-validation-for="password" style="color: red;" class="p-2"></span>
    </div>

</form>

<button id="btnSimpan" class="btn btn-primary">Register</button>


