
@{
    ViewData["Title"] = "Tentang";
    Layout = "_PageLayout";
}

@section Judul {

    <div class="container" style="margin-top: 40px;">
        <h1 class="display-6">
            Apa itu Baruga ?
        </h1>
    </div>

}

<!-- video motion -->
<div class="section">
    <div class="videomotion-container">
        <iframe width="800" height="415" src="https://www.youtube.com/embed/Ps_IiLmeLxQ?controls=0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<!-- konten -->
<div class="section">
    <div class="container text-left" style="margin-top: -100px;">
        <p>
            Baruga Pelayanan Masyarakat Provinsi Sulawesi Selatan (BARUGA SULSEL) adalah portal digital pelayanan dan pelaporan masyarakat berbasis web dan aplikasi. Program Baruga merupakan langkah pertama dari Pemerintah Provinsi Sulawesi Selatan untuk mewujudkan pemerintahan yang bersih dan melayani. Dengan meluncurnya Baruga versi 2.0 diharapkan masyarakat lebih mudah untuk mengakses informasi terkait pelayanan dan kegiatan publik beserta melaporkan permasalahan terkait pelayanan publik yang dialaminya. Tidak mungkin Provinsi Sulawesi Selatan dapat Berjaya kembali tanpa ikut serta masyarakat publik. Segera diunduh, Baruga versi 2.0 sekarang tersedia di Apple Appstore dan Google Playstore.
        </p>

        <p>
            <h6>
                Definisi BARUGA
            </h6>
            Sebagai bangunan tradisional khas sulawesi selatan yang biasanya menjadi tempat kumpul – kumpul atau diskusi masyarakat, merupakan nama yang paling tepat untuk portal digital pelayanan dan pelaporan yang memfasilitasi aspirasi dan keluhan masyarakat. Besar harapan Pemerintah Provinsi Sulawesi Selatan untuk BARUGA SULSEL agar menjadi tempat berkumpul digital bagi masyarakat untuk berdiskusi terkait informasi dan kegiatan publik sekitar Provinsi Sulawesi Selatan. BARUGA SULSEL juga menyediakan layanan pelaporan untuk masyarakat memberikan masukkan dan keluhan terkait layanan Pemerintah Provinsi Sulawesi Selatan yang mungkin masih kurang dan bisa diperbaiki.
        </p>

        <p>
            <h6>
                Sejarah Aplikasi BARUGA
            </h6>
            Aplikasi BARUGA SULSEL versi 1.0 pertama dibuat dan diluncurkan pada tanggal 18 Oktober 2018 dengan motto “Cepat, Tepat dan Tuntas”. Aplikasi merupakan inovasi dan gebrakan program 100 Hari Gubernur dan Wakil Gubernur Provinsi Sulawesi Selatan Tahun 2018 – 2023. Dalam bulan pertama Aplikasi tersebut diluncurkan, lebih dari 300 laporan masyarakat telah diterima oleh admin dan sampai sekarang terus meningkat. Admin BARUGA SULSEL bertanggung jawab untuk meneruskan dan memastikan status dan selesainya setiap laporan yang masuk ke setiap Organisasi Perangkat Daerah. Seiring berjalannya program ini, banyak masukkan dari masyarakat untuk memperluas cakup BARUGA SULSEL, maka dari itu diluncurkanlah BARUGA SULSEL versi 2.0.
        </p>

        <p class="text-center">
            <img src="./img/lampiran1.jpg" alt="alur">
        </p>

    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            LoadFrmRegis();
        })

        function LoadFrmRegis()
        {
            $.get('@Url.Action("register", "Home")', null, function (result) {
                $('#dvregis').html(result);
                $.validator.unobtrusive.parse('#form-regis');

                $('#btnSimpan').click(function () {
                    ProsesRegis();
                })
            })
        }

        function ProsesRegis()
        {
            if ($('#form-regis').valid()) {
                $.post('@Url.Action("register", "Home")', $('#form-regis').serializeArray(), function (result) {
                    if (result == '00') {
                        $('#loginModal').modal('hide');

                        Swal.fire(
                            'Register Berhasil !',
                            'Silahkan masuk untuk memulai.',
                            'success'
                        )

                    }
                    else {
                        Swal.fire(
                            'Register Gagal !',
                            'Email sudah pernah digunakan atau silahkan menghubungi admin',
                            'error'
                        )
                    }
                })
            }
        }

    </script>

}